.comment {
  width: 500px;
  display: block;
  padding: 0 10px 0 10px;
  height: 50px;
  background-color: #fff;
  color: black;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.content {
  height: 50px;
  line-height: 50px;
  width: 100%;
  position: relative;
}

.text {
  position: absolute;
  width: 360px;
  left: 10px;
}

.text .value {
  position: absolute;
  left: 0;
  transition: all 0.3s;
}

.complete {
  position: absolute;
  font-size: 16px;
  right: 50px;
  color: gray;
}

.complete:hover {
  color: #ff6700;
  text-decoration: underline;
  cursor: pointer;
}

.delete {
  position: absolute;
  font-size: 16px;
  right: 0;
  color: gray;
}

.delete:hover {
  color: #ff6700;
  text-decoration: underline;
  cursor: pointer;
}
